body {
    background-color: #f3f5ff;
}

h2 {
    margin: auto;
}

header {
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px 0px rgb(191, 206, 206);
}

main {
    text-align: center;
}

.article {
    background-color: #fafafc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 15px 20% 40px 20%;
    box-shadow: 0px 5px 10px 0px rgb(191, 206, 206);
    /* margin: 32px 32px 32px 32px; */
}

h2 {
    color: #6d83c1;
    font: muli, sans serif;
    /* font-size: 16px; */
    font-style: normal;
    /* font-weight: 300; */
}

.outmin {
    display: flex;
    justify-content: space-between;
}

b {
    color: #2cd090;
}

.minutes {
    color: #afafaf;
}

.article .p {
    padding: ;
}

.container {
    text-align: start;
    padding: 60px 60px 60px 60px;
}

footer {
    text-align: center;
}

footer .nav .a {
    /* float: left;
    text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top {
    background-color: #ffffff;
    box-sizing: border-box;
    /* height: 37px; */
    position: relative;
    /* box-shadow: black 1px 2px 13px; */
    /* box-shadow: 0px 0px 10px 0px rgb(191, 206, 206); */
    /* z-index: auto; */
}

#top {
    display: flex;
    justify-content: space-between;
}

.nav2 {
    display: flex;
    padding: 0 40px;
    padding-right: 230px;
    margin-top: 3px;
    margin-left: -100px;
    /* justify-content: space-between; */
}

button {
    height: 35px;
    padding: 0 15px;
    background-color: #ffffff;
    border: thin #956f6f solid;
    border-radius: 3px;
}

button:hover {
    color: #0000ff;
    border: thin #0000ff solid;
    border-radius: 3px;
}

.up1 {
    margin: 0 20px;
}

.topup {
    margin-left: 205px;
    margin-top: 8px;
    /* position: absolute; */
    /* display: flex;
    align-items: center; */
}

.up a {
    font-family: Muli, sans-serif;
    font-size: 11.2px;
    display: block;
    margin-left: 24px;
    color: #808080;
    text-decoration: none;
    margin-top: 2px;
}

.up a:hover {
    color: #2cd090;
}

.up {
    float: left;
    position: sticky;
}

span:active {
    color: rgb(44, 208, 144);
}

.one {
    border-color: #2cd090;
    object-fit: fill;
}

.one {
    background-color: #2cd090;
    width: 35px;
    height: 35px;
    border-radius: 80%;
    display: flex;
    /* background-size: cover; */
    /* position: relative; */
    align-items: center;
    justify-content: center;
    */
}

.numbers {
    list-style-type: none;
    margin: 0 625px;
    margin-top: 60px;
    margin-bottom: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-origin: border-box; */
    /* float: center; */
}

.nums a {
    text-decoration-line: none;
    color: #afafaf;
}

.foot {
    display: flex;
    flex-direction: row;
    margin: 120px 500px;
    justify-content: space-between;
    /* display: flex; */
    /* flex-wrap: nowrap; */
}

.foot li a:hover {
    text-decoration: underline;
    text-decoration-color: #000000;
}

i {
    color: black;
}

.foot li a {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
}

.numone {
    /* position: absolute; */
    /* align-items: center; */
    padding: auto;
    color: #ffffff;
}

.nums {
    display: flex;
    align-items: center;
    justify-content: center;
}

.str {
    font-weight: 600;
    text-decoration-style: solid;
}
